/**
 *
 */
.search-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas: "search" "results";
	flex-wrap: wrap;
}

.query-form {
	grid-area: search;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

/**
 * Achievement Progress List
 */
.progress-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.card-top {
	width: 90vw;
	margin: 10px;
}

.card {
	/* sizing */
	height: 4.5em;
	padding: 10px;
	position: relative;
	/* appearance */
	border-radius: 6px;
	background-color: rgb(31, 43, 59);
	color: white;
	border: 1px dotted #aaa;
	display: flex;
	transition: background-color 0.3s ease-out;
	cursor: pointer;
}

.card:hover {
	background-color: rgb(35, 49, 68);
}

.data-container {
	width: 100%;
	display: grid;
	grid-template-rows: 2fr 1fr;
	grid-template-columns: 4em 1fr auto;
	grid-template-areas: 
		"icon title tokens"
		"icon date tokens";
	align-items: center;
	justify-items: first baseline;
	column-gap: 20px;
}

.card-img {
	grid-area: icon;
	height: 100%;
	width: auto;
}

.card-name {
	grid-area: title;
	font-size: medium;
	font-weight: bold;
}

.card-date {
	grid-area: date;
	font-size: smaller;
}

/* Dropdown */
.collapse-container {
	position: relative;
	top: -6px;
}

.ReactCollapse--collapse {
	transition: height 500ms;
	position: absolute;
	width: calc(90vw - 2px);
	background-color:#222;
	border: 1px dotted #aaa;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.61);
}

.ReactCollapse--content {
	margin: 6px;
}

/* Tokens */
.token-container {
	grid-area: tokens;
	width: 3.5em;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
}

.token {
	width: 1em;
	height: 1em;
	text-align: center;
	padding: 3px;
	margin: 1px;
	background-color: rgb(18, 31, 39);
	border: 1px dashed white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: default;
	position: relative;
	transition: background-color 0.25s ease-out;
}

.token .tokentext {
	visibility: hidden;
	display: inline-block;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px 5px 10px 5px;
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 130%;
	margin-top: -1.2em;
	background-color: #222;
	border: 1px dotted white;
	white-space: nowrap;
}

.token .tokentext::after {
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -5px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
}

.token:hover {
	background-color: #2596be;
}

.token:hover .tokentext {
	visibility: visible;
}

@media only screen and (min-width: 768px) {
	.card-top {
		width: 45vw;
	}
	.card .tooltiptext {
		width: 35vw;
	}
	.ReactCollapse--collapse {
		width: calc(45vw - 2px);
	}
}

@media only screen and (min-width: 1920px) {
	.card-top {
		width: 28vw;
	}
	.card .tooltiptext {
		width: 20vw;
	}
	.ReactCollapse--collapse {
		width: calc(28vw - 2px);
	}
}

.clear {
	background-color: #fff;
	width: 100px;
	color: black;
	border-radius: 4px;
	border: 1px solid gray;
}

/**
 * Scrollbar
 */
.scrollarea {
	overflow-y: auto;
	height: 100%;
	grid-area: results;
}

::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	/*background-color: rgba(122, 122, 122, 0.233);*/
	border: 1px solid rgba(136, 136, 136, 0.4);
	border-radius: 7px;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
	background: #fff;
}