.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 180px;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px 10px 5px;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -96px;
	background-color: #222;
	border: 1px dotted white;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.progress-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.card {
	width: 20vw;
	min-width: 350px;
	margin: 10px;
	display: flex;
	flex-direction: row;
	text-align: left;
	border-radius: 6px;
	background-color: rgb(31, 43, 59);
	color: white;
	border: 1px dotted #aaa;
}

.card .container {
	height: 100px;
	margin-left: 10px;
}

.card img {
	width: 100px;
	height: auto;
	margin: 10px;
}

.scrollarea {
	overflow-y: scroll;
	height: 90vh;
}

::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
	background: #fff;
}